data/mimic3/raw/ADMISSIONS.csv
data/mimic3/raw/CALLOUT.csv
data/mimic3/raw/CAREGIVERS.csv
data/mimic3/raw/CHARTEVENTS.csv
data/mimic3/raw/CPTEVENTS.csv
data/mimic3/raw/D_CPT.csv
data/mimic3/raw/D_ICD_DIAGNOSES.csv
data/mimic3/raw/D_ICD_PROCEDURES.csv
data/mimic3/raw/D_ITEMS.csv
data/mimic3/raw/D_LABITEMS.csv
data/mimic3/raw/DATETIMEEVENTS.csv
data/mimic3/raw/DIAGNOSES_ICD.csv
data/mimic3/raw/DRGCODES.csv
data/mimic3/raw/ICUSTAYS.csv
data/mimic3/raw/INPUTEVENTS_CV.csv
data/mimic3/raw/INPUTEVENTS_MV.csv
data/mimic3/raw/LABEVENTS.csv
data/mimic3/raw/LICENSE.txt
data/mimic3/raw/MICROBIOLOGYEVENTS.csv
data/mimic3/raw/NOTEEVENTS.csv
data/mimic3/raw/OUTPUTEVENTS.csv
data/mimic3/raw/PATIENTS.csv
data/mimic3/raw/PRESCRIPTIONS.csv
data/mimic3/raw/PROCEDUREEVENTS_MV.csv
data/mimic3/raw/PROCEDURES_ICD.csv
data/mimic3/raw/SERVICES.csv
data/mimic3/raw/TRANSFERS.csv
